<h1 class="title">New Learnt item</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.learnt_item_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.learnt_item_path(@conn, :index) %></span>
